#NET CLK_100MHZ           LOC = U23  | IOSTANDARD = LVCMOS25;  # "CLK_100MHZ"
#TIMESPEC TS_CLK_100MHZ = PERIOD CLK_100MHZ 10 ns HIGH 50 %;

#Net CLK_100MHZ TNM_NET = sys_clk_pin;
Net "CLK_100MHZ" TNM_NET = "CLK_100MHZ"  |  LOC=U23 | IOSTANDARD = LVCMOS25;
#TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;
TIMESPEC "TS_CLK_100MHZ" = PERIOD "CLK_100MHZ" 10 ns HIGH 50%;